<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MDJDetailViewController</key>
	<dict>
		<key>PageEventIDs</key>
		<dict>
			<key>PageId</key>
			<string>800100</string>
			<key>EV</key>
			<true/>
			<key>Timer</key>
			<false/>
		</dict>
		<key>ControlEventIDs</key>
		<dict>
			<key>onShareBtnPressed:</key>
			<string>CTRL_EVENT_DETAIL_SHARE</string>
		</dict>
		<key>name</key>
		<string>详情页面</string>
	</dict>
	<key>MDJHomeViewController</key>
	<dict>
		<key>PageEventIDs</key>
		<dict>
			<key>PageId</key>
			<string>800101</string>
			<key>Timer</key>
			<false/>
			<key>EV</key>
			<true/>
		</dict>
		<key>ControlEventIDs</key>
		<dict>
			<key>onShareBtnPressed:</key>
			<string>CTRL_EVENT_HOME_SHARE</string>
			<key>onFavBtnPressed:</key>
			<string>CTRL_EVENT_HOME_FAV</string>
		</dict>
		<key>name</key>
		<string>home页面</string>
	</dict>
</dict>
</plist>
